REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: PJ1
Description: The product shall be able to un-allocate tickets from a customer
Type: Functional Requirement
Rationale: To enable returned tickets to be scheduled for re-allocation
Originator: Polly

REQ-ID: PJ2
Description: The product shall be able to add returned tickets to a re-allocation schedule
Type: Functional Requirement
Rationale: To enable returned tickets to be re-allocated when a schedule runs
Originator: Polly

REQ-ID: SH1
Description: The product will assign returned tickets to be reallocated
Type: Functional Requirement
Rationale: Allows for the tickets to be reallocated to those in the waiting list in a manageable and consistent manner
Originator: Polly

REQ-ID: SH2
Description: The product will display all tickets a customer currently owns
Type: Functional Requirement
Rationale: The customer will need some record of their currently owned tickets in order to choose one or more for returning, if they want to
Originator: Polly

REQ-ID: DIA1
Description: It must be possible to view all the tickets a customer has returned
Type: Functional Requirement
Rationale: So that it is possible to detect if a customer is returning many tickets / attempting to commit fraud
Originator: Polly

REQ-ID: DIA2
Description: It must be possible for the review staff to view the reason for returning the tickets
Type: Functional Requirement
Rationale: So that it is possible to identify if there are common reasons or causes for returning tickets
Originator: Thomas

REQ-ID: MG1
Description: The product shall check a returned ticket against that customer’s ticket purchases
Type: Functional Requirement
Rationale: To verify that the customer has previously purchased the ticket
Originator: Thomas Shelby - Business Development

REQ-ID: MG2
Description: The product shall put a returned ticket into a returned tickets repository
Type: Functional Requirement
Rationale: To enable controlled reallocation of returned tickets
Originator: Polly Gray - Domestic Ticket Sales

